<!DOCTYPE html>
<html>
  <head>
    <title>Comedor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Hospital Viedma</a>
        </div>
      </nav>
    <%= yield %>
    <br></br>
    <%= button_to("Cerrar sesion", destroy_user_session_path, :method => :delete) %>
  </body>
</html>
